In [4]:
from  pyspark.sql import SparkSession
from pyspark.sql.types import  IntegerType, StructType, StructField, StringType
from pyspark.sql.functions import avg
spark = SparkSession.builder\
      .master("local[1]")\
      .appName("RDD_DATAFRAME_DATASET")\
      .getOrCreate()

### RDD

In [5]:
myschema = StructType([StructField("name", StringType(),True), StructField("age", IntegerType(),True)])
data = [("Tom", 30),("Jerry", 20), ("Jack", 35), ("Tom", 29)]
dataRDD = spark.sparkContext.parallelize(data)

In [6]:
## for grouping and averaging RDD 

agesRDD = (dataRDD.map(lambda x:(x[0], (x[1], 1))).reduceByKey(lambda x, y:(x[0]+y[0], x[1]+y[1])).map(lambda x: (x[0], x[1][0]/x[1][1])))
agesRDD.collect()

[('Tom', 29.5), ('Jerry', 20.0), ('Jack', 35.0)]

In [7]:
data = ["Project","Gutenberg’s","Alice’s","Adventures",
"in","Wonderland","Project","Gutenberg’s","Adventures",
"in","Wonderland","Project","Gutenberg’s"]

rdd=spark.sparkContext.parallelize(data)
print("Original RDD")
rdd.collect()

Original RDD

['Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'Project',
 'Gutenberg’s',
 'Adventures',
 'in',
 'Wonderland',
 'Project',
 'Gutenberg’s']

### DATAFRAME

In [20]:
dataDF= spark.createDataFrame(data, myschema)

In [21]:
averageDF = dataDF.groupBy("name").agg(avg("age"))

In [22]:
averageDF.show()

+-----+--------+
| name|avg(age)|
+-----+--------+
| Jack|    35.0|
|  Tom|    29.5|
|Jerry|    20.0|
+-----+--------+

### Dataset

In [25]:
from pyspark.sql import Row
row1 = Row(350, True, "An apple a day keeps doctor away", None)

In [26]:
row[0]

350